dash
jupyter-dash
llama-index-vector-stores-qdrant
llama-index-response-synthesizers-google
llama-index-indices-managed-google
llama-index-embeddings-google
llama-index-vector-stores-google
git+https://github.com/openai/CLIP.git
llama-index-embeddings-clip
llama-index-vector-stores-lancedb
ffmpeg-python
llama_index-multi-modal-llms-openai
llama-index-llms-gemini
llama-index-embeddings-gemini
llama_index-multi-modal-llms-gemini
llama-index
yt-dlp
deepgram-sdk
FFmpeg
